.card_product {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
  padding: 20px 0;
  width: 100%; /* Ширина 100% от родителя */
}
.card-img{
  padding: 0;
  margin: 0;
  border-radius: 32px 32px 0 0;
 
}

.card-content{
  width: 515px;
  height: 726px;
  background-color: #E1BD94;
  border-radius: 32px;
  box-shadow: 7px 5px 5px rgb(0 0 0 / 60%)
}

.card-desription{
  width: 440px;
  height: 321px;
  margin-left: 17px;

}
.card-title{
  margin-top: 0;
  padding-top: 30px;
  font-size: 32px;
  font-weight: 700;
}

.card-descr{
  font-size: 24px;
  font-weight: 400;
  text-align: justify;
  max-width: 456px;
  margin-top: 32px;
}

.price{
  font-size: 24px;
  display: flex;
  justify-content: space-between;

}

.card-btn{
  width: 278px;
  height: 80px;
  border-radius: 32px;
  background-color: #DB831B;
  color: white;
  text-align: center;
  margin-top: 30px;
}

.buttons{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 110px;
}